services:
  db:
    image: postgres:18
    container_name: database
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  api:
    build:
      context: ./api
    container_name: api
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "7750:7750"

volumes:
  pgdata: