.overview {
    display: flex;
    max-width: 1300px;
}

.overview_information {
    width: 700px;
    margin: auto 50px;
}

.overview_information > div {
    text-align: left;
}

.overview_header > span {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-1);
    color: var(--font-color-p);
}

.overview_description {
    margin: 20px 0 50px;
    max-width: 600px;
}

.overview_description > span {
    font-size: var(--font-size-5);
    color: var(--font-color-2);
}

.overview_buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.overview_button_my_project > a {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: var(--font-color-p);
}

.overview_button_contact {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding-bottom: 4px;
}

.overview_button_contact::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px; /* Höhe des Strichs */
    width: 100%;
    background-color: var(--background-color-6);
    border-radius: 40px;

    transform: scaleX(0);       /* Start unsichtbar */
    transform-origin: left;      /* Animation von links nach rechts */
    transition: transform 0.3s ease-out;
}

.overview_button_contact:hover::after {
    transform: scaleX(1);       /* Voll sichtbar beim Hover */
}

.overview_buttons > div > a {
    font-size: var(--font-size-5);
    color: var(--font-color-2);
}

.overview_image {
    margin: 10px 20px;
    border: 1px solid var(--boarder-color-2);
    border-radius: 20px;
    overflow: hidden;
}

.overview_image > img {
    height: 500px;
    object-fit: cover;
    object-position: center;
}