.application {
    display: block;
    width: 100%;
    padding: 20px 40px;
    max-height: 800px;
    overflow-y: auto;
}

.application_title {
    margin: 14px 0 10px 0;
}

.application_title > h1 {
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.application_description {
    margin: 0 auto 20px auto;
    max-width: 600px;
}

.application_description > span {
    font-size: var(--font-size-5);
    color: var(--font-color-2);
}

.application_content {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 60px;
}

.application_content_project {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}