.projects {
    max-width: 1300px;
    height: 850px;
    overflow-y: scroll;
}

.projects_title {
    text-align: center;
    margin: 14px 0 10px 0;
}

.projects_title > h1 {
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.projects_description {
    margin: 0 200px 20px 200px;
    max-width: 1300px;
    text-align: center;
}

.projects_description > span {
    font-size: var(--font-size-5);
    color: var(--font-color-2);
}

:root[data-theme="light"] .project {
    background-color: var(--background-color-1);
}

.project_unsorted_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
    margin-top: 40px;
    gap: 20px 40px;
}

.project_list_item {
    display: block;
    overflow: hidden;
    width: 400px;
    height: 430px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #0008;
    background-color: var(--background-color-2);
    flex-direction: column;
    transition: transform 0.35s ease;
}

:root[data-theme="light"] .project_list_item {
    background-color: var(--background-color-1);
}

.project_list_item:hover {
    transform: translateY(-10px);
}

.project_image {
    height: 190px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_image img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center; /* zentriert den sichtbarens Teil */
    transition: scale 0.35s ease;
    filter: brightness(0.9) contrast(1.1);
    mask-image: radial-gradient(ellipse, white 60%, #0002 100%);
    cursor: pointer;
}

.project_list_item:hover .project_image img {
    scale: 1.1;
}

.project_title {
    padding: 0 10px;
    justify-items: left;
    text-align: left;
    align-content: center;
    height: 50px;
    transition: color 0.35s ease;
}

.project_title > h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-weight: bold;
    font-size: var(--font-size-5);
    color: var(--font-color-1);
    cursor: pointer;
}

.project_list_item:hover .project_title > h1 {
    transition: color 0.35s ease;
    color: var(--font-color-p);
}

.project_description {
    padding: 0 10px;
    height: 60px;
}

.project_description > span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    font-size: var(--font-size-7);
    color: var(--font-color-4);
}

.project_labels {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: center;
    gap: 6px;
    padding: 0 6px;
    height: 80px;
}

.label {
    height: fit-content;
    padding: 2px 8px;
    border-radius: 8px;
    color: var(--font-color-2);
    border: 1px solid var(--boarder-color-2);
    font-size: var(--font-size-9);
}

.project_links {
    display: block;
    margin: 6px 10px;
    background-color: #0080FF;
    border-radius: 8px;
    overflow: hidden;
}

.project_links > a {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
    padding: 4px;
    font-size: var(--font-size-9);
    color: #fff;
}
