@import "tailwindcss";

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {

    --preferred-color-theme: #2196F3;

    --primary-color: #fff;
    --secondary-color: #c0c0c0;
    --third-color: #9e9e9e;

    --primary-background: #1c1c1c;
    --secondary-background: #2a2a2a;
    --third-background: #383838;

    --primary-background-transparent: #1c1c1caa;
    --secondary-background-transparent: #2a2a2aaa;
    --third-background-transparent: #383838aa;

    --primary-border: #ddd;
    --secondary-border: #aaa;
    --third-border: #777;
  }
}

:root, [data-theme="light"] {

  --primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  --preferred-color-theme: #2196F3;

  --primary-color: #000;
  --secondary-color: #0c0c0c;
  --third-color: #9e9e9e;

  --primary-background: #fff;
  --secondary-background: #fff;
  --third-background: #dcdcdc;

  --primary-background-transparent: #fffa;
  --secondary-background-transparent: #fffa;
  --third-background-transparent: #dcdcdcaa;

  --primary-border: #222;
  --secondary-border: #555;
  --third-border: #888;
}

[data-theme="dark"] {

    --preferred-color-theme: #2196F3;

    --primary-color: #fff;
    --secondary-color: #c0c0c0;
    --third-color: #9e9e9e;

    --primary-background: #1c1c1c;
    --secondary-background: #2a2a2a;
    --third-background: #383838;

    --primary-background-transparent: #1c1c1caa;
    --secondary-background-transparent: #2a2a2aaa;
    --third-background-transparent: #383838aa;

    --primary-border: #ddd;
    --secondary-border: #aaa;
    --third-border: #777;
  } */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
