.footer {
    position: relative;
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    align-items: center;
    margin-inline: auto;
    border-top: 1px solid var(--boarder-color-2);
    text-align: center;
}

.footer_left {
    position: relative;
    display: block;
    margin-inline: auto;
}

.footer_name {
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--font-color-2);
}

.footer_copyright {
    font-size: var(--font-size-9);
    color: var(--font-color-4);
}

.footer_right {
    display: block;
    width: 300px;
    margin-inline: auto;
}

.footer_title_container {
    margin-bottom: 5px;
}

.footer_title {
    color: var(--font-color-2);
    font-size: var(--font-size-5);
}

.footer_links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer_link_icon {
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    align-content: center;
    justify-items: center;
    border: 1px solid var(--background-color-5);
    border-radius: 50px;
    transition: border-color 0.35s ease;
}

.footer_link_icon:hover {
    padding:9px;
    border: 1px solid;
    border-color: var(--font-color-p);
}

.footer_link_icon > svg {
    height: 25px;
    width: 25px;
    transition: transform 0.35s ease, fill 0.35s ease;
}

.footer_link_icon:hover > svg {
    transform: scale(1.2);
}

.footer_link_icon > svg {
    fill: var(--font-color-4);
}

.footer_link_icon > svg:hover {
    fill: var(--font-color-2);
}

@media screen and (max-width: 966px) {
    .footer {
        display: block;
        align-content: center;
    }
    .footer_title_container {
        margin-top: 45px;
    }
}