.overview {
    display: flex;
    max-width: 1300px;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-inline: auto;
}

.overview_information {
    max-width: 700px;
    margin: auto 50px;
}

.overview_information > div {
    text-align: left;
}

.overview_description {
    margin: 20px 0 50px;
    max-width: 1150px;
}

.overview_buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.overview_button_my_project > a {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: var(--font-color-p);
}

.overview_button_contact {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding-bottom: 4px;
}

.overview_button_contact::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px; /* Höhe des Strichs */
    width: 100%;
    background-color: var(--background-color-6);
    border-radius: 40px;

    transform: scaleX(0);       /* Start unsichtbar */
    transform-origin: left;      /* Animation von links nach rechts */
    transition: transform 0.3s ease-out;
}

.overview_button_contact:hover::after {
    transform: scaleX(1);       /* Voll sichtbar beim Hover */
}

.overview_button > a {
    font-size: var(--font-size-5);
    color: var(--font-color-2);
}

.overview_image_container {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}

.overview_image_container::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 3px;
    border-radius: 100%;
    background: linear-gradient(var(--rotate-deg, 0deg), var(--font-color-p), var(--font-color-1));
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;

    animation: overview_image_container_spin 4s linear infinite;
}

@keyframes overview_image_container_spin  {
    0% {
        --rotate-deg: 0deg;
    }
    100% {
        --rotate-deg: 360deg;
    }
}

.overview_image {
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 966px) {
    .overview {
        flex-direction: column;
        max-width: 100%;
        padding-inline: 15px;
    }

    .overview_information {
        max-width: 100%;
        margin-inline: auto;
    }

    .overview_buttons {
        position: relative;
        display: block;
        width: 100%;
        justify-content: center;
        justify-items: center;
    }

    .overview_button_my_project > a, .overview_button_contact > a {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .overview_button:first-child {
        margin-bottom: 20px;
    }

    .overview_image_container {
        margin-top: 80px;
        margin-inline: auto;
    }

    .overview_image {
        margin-inline: auto;
    }

}