#about_me .wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 3rem;
    margin-bottom: 4rem;
    align-items: start;
}

.about_me_photo {
    position: sticky;
    top: 100px;
}

#about_me .profile_photo {
    display: block;
    width: 300px;
    height: 400px;
    border-radius: 0.75rem;
    box-shadow: var(--shadow-lg);
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    #about_me .wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me_photo {
        position: relative;
        top: 0;
    }
}


/*  ################
    # Additional
    ################
*/

.about_me_content {
    position: relative;
    display: block;
    margin-inline: auto;
    margin-top: 60px;
    gap: 20px;
}

.about_me_personal_professional {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 15px;
}

/*  ################
    # Personal
    ################
*/

.about_me_personal_container, .about_me_professional_container {
    position: relative;
    display: grid;
    max-width: 650px;
    margin-top: 40px;
}

.about_me_additional_title {
    margin: 10px 0;
}

.about_me_personal_professional_description {
    padding-bottom: 20px;
    max-width: 1150px;
}

.about_me_personal_professional_panels {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.personal, .professional {
    display: flex;
    height: 50px;
    padding: 5px 10px;
    border: 1px solid var(--border-color-2);
    border-radius: 10px;
}

.personal_image_container {
    display: block;
    height: 40px;
    width: 40px;
    align-content: center;
    justify-items: center;
}

.personal_image {
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: center;
}

.personal_text_container, .professional_data_container, .professional_text_container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.professional_data {
    font-weight: bold;
}

.personal_text, .professional_data, .professional_text {
    font-size: var(--font-size-7);
    color: var(--font-color-2);
}