.contact_content_wrapper {
    display: flex;
    width: 100%;
    margin-top: 60px;
    justify-content: space-between;
}

.contact_content_left_wrapper {
    width: 540px;
    max-width: 540px;
    padding-right: 15px;
}

.contact_link {
    display: flex;
    align-items: center;
    margin-block: auto;
    padding-bottom: 20px;
    gap:  10px;
}

.contact_link_icon {
    min-width: 60px;
    min-height: 60px;
    justify-items: center;
    align-content: center;
    border-radius: 1rem;
    border: 1px solid var(--background-color-5);
}

.contact_link:hover .contact_link_icon {
    border: 1px solid var(--preferred-color-theme);
}

.contact_link_icon svg {
    margin: auto;
    justify-content: center;
    fill: var(--font-color-4);
}

.contact_link:hover .contact_link_icon svg {
    fill: var(--font-color-2);
}

.contact_link_title {
    font-weight: bold;
    font-size: 18px;
    color: var(--font-color-2);
}

.contact_link_tag {
    font-size: 16px;
    color: var(--font-color-3);
}

.contact_content_right_wrapper {
    position: relative;
    width: 840px;
    max-width: 100%;
    border-radius: 8px;
    background-color: var(--background-color-1);
    box-shadow: 2px 2px 8px #0008;
    overflow: hidden;
}

.contact_form {
    position: relative;
    padding: 10px 20px;
}

:root[data-theme="dark"] .contact_form {
    background-color: var(--background-color-2);
}

.contact_form_flex_container {
    position: relative;
    display: flex;
    width: 100%;
    gap: 10px;
}

.contact_form_flex_container > div {
    width: 100%;
}

.contact_form_container {
    display: block;
}

.contact_form_button_container {
    margin-bottom: 10px;
}

.contact_form_output_wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    display: flex;  
    justify-content: center;
    align-items: center;

    background-color: var(--background-color-t7);
    backdrop-filter: blur(6px);
}

.contact_form_output_wrapper > svg {
    flex: 0 0 auto;
    width: 40px;
    height: 40px;

}

.contact_form_output_wrapper.animation {
    animation: form_success_pop 0.35s ease forwards;
}

@keyframes form_success_pop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact_form_output_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.contact_form_success_message {
    font-size: 26px;
    color: var(--font-color-2);
}

@media screen and (max-width: 966px) {
    .contact {
        padding-inline: 10px;
    }

    .contact_content_wrapper {
        display: block;
    }

    .contact_content_left_wrapper {
        width: inherit;
    }
}