.education_content {
    display: block;
    max-width: 1380px;
    padding-inline: 10px;
    margin: 60px auto 15px auto;
}

.education_timeline {
    position: relative;
    justify-content: center;
    height: 100%;
}

.education_timeline::before {
    position: absolute;
    content: "";
    background-color: var(--background-color-4);
    height: 100%;
    width: 4px;
    bottom: 0;
    left: calc((100%/2) - 2px);
    border-radius: 100px;
    z-index: 1;
}

.education_timeline::after {
    position: absolute;
    content: "";
    background-color: var(--font-color-p);
    height: var(--fill-height, 0%);
    width: 4px;
    top: 0;
    left: calc((100%/2) - 2px);
    border-radius: 100px;
    z-index: 1;
    transition: height 0.6s ease-out;
}

.education_timeline_line{
    position: absolute;
    left: 558px;
    width: 4px;
    background-color: red;
    z-index: 2;
}

.education_timeline_fill {
    position: sticky;
    top: 0; /* bleibt im Viewport */
    width: 4px;
    height: 100%; /* läuft mit, wenn der Container scrollt */
    background: linear-gradient(to bottom, var(--secondary), var(--primary));
    background-color: aqua;
}

.education_timeline_point {
    position: relative;
    z-index: 3;
    justify-self: center;
    justify-items: center;
    align-content: center;
    margin-top: 80px;
    height: 50px;
    width: 50px;
    background-color: var(--background-color-1);
    border: 2px solid var(--font-color-p);
    border-radius: 100%;
    margin-right: auto; /* For Firefox */
    margin-left: auto;  /* For Firefox */
}


:root[data-theme="dark"] .education_timeline_point {
    background-color: var(--background-color-3);
}

.education_timeline_point:first-child {
    margin-top: 0px;
}

.education_timeline_point > img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    object-position: center;
    margin: auto; /* For Firefox */
}

.education_panel {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 10px;
    transition: transform 0.35s ease;
    box-shadow: 2px 2px 8px #0008;
    backdrop-filter: blur(3px);
    overflow: hidden;
    z-index: 4;
}

:root[data-theme="dark"] .education_panel {
    background-color: var(--background-color-t7);
}

.education_panel_border_top {
    border-top: 4px solid var(--font-color-p);
}

.education_panel_wraper {
    padding: 15px;
}

/* .education_panel:nth-child(4n) {
    justify-self: right;
} */


.education_panel:nth-child(4n) {
    justify-self: left; 
    margin-left: auto;
}

.education_panel_degree_and_period {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.education_degree {
    font-weight: bold;
    font-size: var(--font-size-7);
    color: var(--font-color-1);
}

.education_period_container {
    min-width: fit-content;
    align-content: center;
    padding: 3px 10px;
    margin-block: auto;
    line-height: 99%;
    text-align: center;
    background-color: var(--background-color-2);
    border-radius: 20px;
}


:root[data-theme="dark"] .education_period_container {
    background-color: var(--background-color-4);
}

.education_period {
    font-size: var(--font-size-10);
    color: var(--font-color-3);
}

.education_panel_institution {
    display: flex;
    gap: 5px;
    margin-block: 20px 10px;
}

.education_institution_image {
    align-content: center;
}

.education_institution_image > img{
    height: 20px;
    width: 20px;
    object-fit: cover;
    object-position: center;
}

.education_institution {
    font-size: var(--font-size-8);
    color: var(--font-color-4);
}

.education_summary_container {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color-1);
    text-align: left;
}

.education_summary {
    font-size: var(--font-size-8);
    color: var(--font-color-2);
}

.education_additional_info_container {
    text-align: left;
    padding-top: 10px;
    white-space: pre-line;
}

.education_additional_info {
    font-size: var(--font-size-8);
    color: var(--font-color-4);
}

.application_filler {
    height: 1000px;
}

@media screen and (max-width: 1300px) {


    .education_panel {
        justify-self: center;
        margin-inline: auto;
    }
}