.footer {
    position: relative;
    display: block;
    align-content: center;
    justify-items: center;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    align-items: center;
    margin-inline: auto;
    border-top: 1px solid var(--border-color-2);
    text-align: center;
}

.footer_left {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.footer_name {
    font-weight: bold;
    font-size: 32px;
    color: var(--font-color-2);
}

.footer_copyright {
    font-size: 16px;
    color: var(--font-color-3);
}

.footer_svg_link {
    font-size: 16px;
    color: var(--font-color-2);
}

.footer_svg_link a {
    font-weight: bold;
    color: var(--preferred-color-theme);
}