.form {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-inline: 5px;
    align-content: center;
    z-index: 200;
    background-color: var(--background-color-t7);
    backdrop-filter: blur(15px);
}

.form_wrapper {
    position: relative;
    display: block;
    max-width: 1300px;
    margin-inline: auto;
    padding-inline: 3px;
    background-color: var(--background-color-2);
    border-radius: 12px;
    animation: form_popup 0.6s ease both;
    overflow: hidden;
}

@keyframes form_popup {
    0% {
        opacity: 0;
        transform: translateY(40);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.form_handler {
    position: relative;
    display: block;
    max-height: 90vh;
    max-height: 90dvh;
    padding: 4px 12px;
    padding-bottom: 16px;
    overflow-y: auto;
}

.form_content {
    position: relative;
    display: flex;
    gap: 20px;
}

.form_content_left, .form_content_right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.form_content_left:only-child {
    margin-block: 5px;
}

.form_title_container {
    margin-top: 15px;
}

.form_title {
    font-weight: bold;
    font-size: 32px;
    color: var(--font-color-1);
}

.form_result_text_container {
    margin-bottom: 15px;
}

.form_result_text {
    font-size: 20px;
    color: #d00;
}

.form_section {
    margin-bottom: 10px;
}

.form_label {
    text-transform: uppercase;
    font-size: 22px;
    color: var(--font-color-1);
}

.form_title_container:hover .form_label {
    color: var(--font-color-p);
}

.form_input {
    width: 100%;
    padding-inline: 5px;
    font-size: 22px;
    color: var(--font-color-3);
    /* background-color: var(--background-color-1); */
    border-radius: 8px;
    border: 1px solid var(--border-color-2);
}

.form_textarea {
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding-inline: 5px;
    font-size: 22px;
    color: var(--font-color-1);
    /* background-color: var(--background-color-2); */
    border-radius: 8px;
    border: 1px solid var(--border-color-2);
}

.form_text_length_container {
    margin-right: 5px;
    text-align: right;
}

.form_text_length {
    color: var(--font-color-2);
}

.form_ulist {
    display: flex;
    flex-wrap: wrap;
    margin-block: 10px;
    gap: 8px 10px;
}

.form_item {
    position: relative;
    display: flex;
    width: fit-content;
    padding: 2px 10px;
    align-content: center;
    text-align: center;
    font-size: 18px;
    color: var(--font-color-2);
    background-color: var(--background-color-2);
    border-radius: 50px;
    outline: 2px solid var(--border-color-2);
    gap: 8px;
}

.form_item:hover:not(:has(.form_item_input)) {
    background-color: rgba(134, 0, 0, 0.517);
    cursor: pointer;
}

.form_item:hover:not(:has(.form_item_input))::before {
    position: absolute;
    content: "";
    top: calc(50% - 80% / 2);
    left: calc(50% - 1.5px);
    width: 3px;
    height: 80%;
    background-color: red;
    border-radius: 50px;
    transform: rotate(45deg);
}

.form_item:hover:not(:has(.form_item_input))::after {
    position: absolute;
    content: "";
    top: calc(50% - 80% / 2);
    left: calc(50% - 1.5px);
    width: 3px;
    height: 80%;
    background-color: #d00;;
    border-radius: 50px;
    transform: rotate(-45deg);
}

.form_item:has(.form_item_input:focus) {
    /* border: 2px solid var(--border-color-2); */
    outline: 1px solid var(--font-color-1);
}

.form_item_input {
    width: fit-content;
    max-width: 100px;
    font-size: 18px;
    color: var(--font-color-2);
    border-radius: 4px;
    outline-width: 0;
}

.form_item_input_accept {
    position: relative;
    width: 20px;
    height: 20px;
    margin-block: auto;
    background-color: var(--background-color-4);
    border-radius: 5px;
}

.form_item_input_accept::before {
    position: absolute;
    content: "";
    top: calc(50% + 2px);
    left: calc(50% - 9px);
    width: 8px;
    height: 2px;
    background-color: var(--font-color-1);
    border-radius: 20px;
    transform: rotate(50deg);
}

.form_item_input_accept::after {
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    left: calc(50% - 6px);
    width: 16px;
    height: 2px;
    background-color: var(--font-color-1);
    border-radius: 20px;
    transform: rotate(-50deg);
}

.form_item_input_accept:hover {
    background-color: var(--font-color-p);
}

.form_upload_image {
    display: flex;
    width: 100%;
    height: 200px;
    margin-block: 10px;
    background-color: var(--background-color-2);
    border-radius: 20px;
}

input[type="file"] {
    display: none;
}

.form_upload_input_label {
    display: inline-block;
    margin-left: auto;
    margin-block: auto;
    margin-right: 10px;
    height: fit-content;
    padding: 12px 30px;
    background-color: var(--background-color-4);
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    color: var(--font-color-1);
}

.form_upload_input_label:hover {
    background-color: var(--background-color-5);
}

.form_upload_selected_file {
    margin-block: auto;
    margin-right: auto;
    font-size: 18px;
    color: var(--font-color-2);
}

.form_checkbox_container {
    display: flex;
    height: 30px;
    align-items: center;
    gap: 8px;
}

.form_checkbox {
    font-size: 20px;
    color: var(--font-color-1);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.form_buttons_container {
    display: block;
    align-content: space-between;
}

.form_buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.form_button {
    display: flex;
    width: fit-content;
    padding: 8px 30px;
    background-color: var(--font-color-p);
    border-radius: 12px;
    font-size: 20px;
    color: var(--font-color-1);
    cursor: pointer;
}

.form_button:hover {
    box-shadow: 0px 0px 20px var(--font-color-p);
}

/* .form_button:first-child {
    background-color: red;
} */

/* .form_button:last-child:hover {
    background-color: var(--font-color-p);
} */

@media screen and (max-width: 966px) {
    .form_content {
        display: block;
    }

    .form_content_left, .form_content_right {
        width: 100%;
    }

    .form_buttons {
        position: relative;
    }
}