header {
    position: sticky;
    display: flex;
    top: 0;
    height: 2.5em;
    z-index: 5;
}

nav {
    position: relative;
    width: calc(100%);
    top: 0;
    display: block;
    border-top: 0;
    margin-inline: auto;
    border-bottom: 1px solid var(--border-color-2);
    background-color: var(--background-color-t7);
    backdrop-filter: blur(10px);
}

.navi_bar_wrapper {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navi_bar_wrapper.show {
    border-radius: 0px;
}

.nav_bar_left {
    display: flex;
    width: 220px;
    align-content: center;
    gap: 10px;
}

.navi_name {
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    color: var(--preferred-color-theme);
}

.navi_name:hover {
    user-select: none;
}

.nav_link_wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 29px;
    background-color: var(--background-color-t5);
    border-radius: 30px;
    overflow: hidden;
}

.nav_link_item > a {
    padding: 10px 15px;
    color: var(--font-color-3);
    font-size: 18px;
    cursor: pointer;
}

.nav_link_item:hover > a {
    color: var(--preferred-color-theme);
}

.navi_bar_right {
    position: relative;
    display: flex;
    justify-content: right;
}

@media screen and (max-width: 966px) {
    .nav_link_wrapper {
        display: none;
    }
}

.navi_bar_item:hover .nav_bar_langauge_span {
    color: var(--preferred-color-theme);
}

.nav_bar_desktop_wrapper {
    width: 55px;
}

.nav_action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.nav_action_item {
    position: absolute;
    opacity: 0;
    font-size: 22px;
    color: var(--font-color-1);
}

.nav_action:hover .nav_action_item {
    fill: var(--preferred-color-theme);
    color: var(--preferred-color-theme);
}

.nav_action_item.show {
    opacity: 0;
    animation: action_item_show 0.35s ease both;
}

@keyframes action_item_show {
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav_bar_menu_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 4px;
}

.nav_bar_menu_line {
    width: 22px;
    height: 3px;
    background-color: var(--background-color-7);
    border-radius: 50px;
    transition: background-color 0.35s ease, transform 0.35s ease, opacity 0.35s ease;
}

.nav_bar_menu_item:hover .nav_bar_menu_line:not(.hide) {
    background-color: red;
}

.nav_bar_menu_item:hover .nav_bar_menu_line.normal {
    background-color: var(--preferred-color-theme);
}

.nav_bar_menu_line.first {
    transform: translateY(7px) rotate(45deg);
}

.nav_bar_menu_line.hide {
    background-color: var(--preferred-color-theme);
    opacity: 0;
}

.nav_bar_menu_line.last {
    transform: translateY(-7px) rotate(-45deg);
}

.nav_bar {
    position: absolute;
    top: 40px;
    right: 0;
    display: none;
    flex-direction: column;
    justify-self: right;
    border-inline: 1px solid var(--border-color-2);
    background-color: var(--background-color-t7);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.nav_bar.hide {
    display: block;
    animation: hide_menu 0.35s ease both;
}

@keyframes hide_menu {
    0% {
        opacity: 1;
        transform: translateY(0px)
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
        display: none;
    }
}

.nav_bar.show {
    display: block;
    animation: show_menu 0.35s ease both;
}

@keyframes show_menu {
    0% {
        opacity: 0;
        transform: translateY(-50px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav_bar_link {
    display: flex;
    padding-inline: 10px;
    border-bottom: 1px solid var(--border-color-2);
    gap: 8px;
}

.nav_bar_link span {
    align-content: center;
    font-size: 22px;
    color: var(--font-color-1);
}

.nav_bar_link:hover span {
    color: var(--preferred-color-theme);
}

.nav_bar_link svg {
    width: 40px;
    height: 40px;
    fill: var(--font-color-1);
}