#overview h1 {
    font-size: clamp(1.9rem, 8cqi, 4rem);
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 1rem;
    letter-spacing: clamp(0.1rem, 0.3cqi, 0.3rem);
    text-transform: uppercase;
    color: var(--preferred-color-theme);
}

.tagline {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--font-color-1);
}

#overview .description {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 2rem;
    opacity: 0.85;
    line-height: 1.7;
}

#overview .btn_wrapper {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#overview .btw {
    text-align: center;
    align-content: center;
    font-size: 26px;
    color: var(--font-color-2);
}

#overview .primary_button {
    color: white;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: var(--preferred-color-theme);
}

#overview .primary_button:hover {
    box-shadow: 0px 0px 20px var(--preferred-color-theme);
}

#overview .secondary_button {
    position: relative;
    margin: 10px 20px;
    border: none;
    cursor: pointer;
    padding-bottom: 4px;
}


#overview .secondary_button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--preferred-color-theme);
    border-radius: 40px;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-out;
}

#overview .secondary_button:hover::after {
    transform: scaleX(1);
}