.project_unsorted_list {
    position: relative;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-content: center;
    margin-top: 60px;
    gap: 20px 30px;
}

.project_list_item {
    display: block;
    overflow: hidden;
    padding-bottom: 5px;
    border-radius: 12px;
    background-color: var(--background-color-1);
    box-shadow: 2px 2px 8px #0008;
    flex-direction: column;
    transition: transform 0.35s ease;
    opacity: 0;
    animation: project_list_item_popup 0.5s ease forwards, project_list_item_popup_2 0.5s ease;
    animation-delay: var(--delay, 0s);
}

@keyframes project_list_item_popup {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes project_list_item_popup_2 {
    0% {
        transform: scale(0.7);
    }
    100% {
        transform: scale(1);
    }
}

:root[data-theme="dark"] .project_list_item {
    background-color: var(--background-color-2);
}

.project_list_item:hover {
    transform: translateY(-10px);
}

.project_image_container {
    height: 190px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center; /* zentriert den sichtbarens Teil */
    transition: scale 0.35s ease;
    filter: brightness(0.9) contrast(1.1);
    mask-image: radial-gradient(ellipse, white 65%, #0002 110%);
    cursor: pointer;
}

.project_list_item:hover .project_image {
    scale: 1.1;
}

.project_title_container {
    padding: 0 10px;
    justify-items: left;
    text-align: left;
    align-content: center;
    height: 50px;
    transition: color 0.35s ease;
}

.project_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-weight: bold;
    cursor: pointer;
}

.project_list_item:hover .project_title {
    color: var(--font-color-p);
}

.project_description_container {
    padding: 0 10px;
    height: 60px;
}

.project_description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    font-size: var(--font-size-8);
    color: var(--font-color-4);
}

.project_labels_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 6px;
    padding: 0 10px;
    height: 70px;
    overflow: hidden;
}

.project_label {
    height: fit-content;
    padding: 2px 8px;
    margin-bottom: auto;
    border-radius: 8px;
    color: var(--font-color-2);
    border: 1px solid var(--border-color-2);
    font-size: var(--font-size-9);
}

.project_link_container {
    display: block;
    margin: 6px 10px;
    background-color: #0080FF;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.project_link {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 4px;
    padding: 4px;
    font-size: var(--font-size-9);
    color: #fff;
}

.project_add_card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin-inline: auto;
    margin-top: calc(50% - 50px);
    background-color: var(--background-color-3);
    border-radius: 50px;
}

.project_add_card::before, .project_add_card::after {
    position: absolute;
    content: "";
    top: calc(50% - 2px);
    left: calc(50% - 20px);
    width: 40px;
    height: 4px;
    background-color: var(--font-color-1);
    border-radius: 50px;
    transition: background-color 0.35s ease;
}

.project_add_card::before {
    transform: rotate(90deg);
}

.project_list_item:hover .project_add_card {
    background-color: var(--background-color-4);
}

.project_list_item:hover .project_add_card::before, .project_list_item:hover .project_add_card::after {
    background-color: var(--font-color-p);
}

.project_list_item:has(.project_add_card) {
    cursor: pointer;
}

    /*  #####
    # Project Info
    #####*/

.project_info {
    position: relative;
    display: block;
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: 5px;
    animation: project_info_popup 0.6s ease both;
}

@keyframes project_info_popup {
    0% {
        opacity: 0;
        transform: translateY(40);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.project_info_close_wrapper {
    position: relative;
    display: flex;
    padding-block: 20px;
}

.project_info_close_container {
    padding: 4px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.project_info_close_container:hover {
    background-color: var(--background-color-3);
}

.project_info_close {
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}

.project_info_wrapper {
    position: relative;
    display: block;
    border-radius: 20px;
    border: 1px solid var(--border-color-1);
    background-color: var(--background-color-t7);
    box-shadow: 2px 2px 8px #0008;
    overflow: hidden;
}

.project_info_header {
    position: relative;
    height: 310px;
    overflow: hidden;
}

.project_info_image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center;
}

.project_info_header_content {
    position: absolute;
    display: block;
    margin-top: auto;
    align-content: end;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    background: linear-gradient(0deg, var(--background-color-2), transparent 70%) no-repeat;
}

.project_info_title_container {
    position: relative;
}

.project_info_title {
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--font-color-1);
}

.project_info_label_list_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.project_info_label_container {
    padding: 2px 10px;
    background-color: var(--background-color-t7);
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
}

.project_info_label {
    font-size: var(--font-size-10);
    color: var(--font-color-1);
}

.project_content_wrapper {
    position: relative;
    display: block;
    padding: 30px;
}

.project_gallery_wrapper {
    position: relative;
    display: block;
    padding-bottom: 20px;
}

.project_gallery_content {
    display: flex;
    padding-block: 20px;
    gap: 12px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.project_gallery_content:hover {
    cursor: grab;
    user-select: none;
    -webkit-user-drag: none;
}

.project_gallery_content:active {
    cursor: grabbing;
}

.project_gallery_wrapper::-webkit-scrollbar {
    display: none;
    height: 0px;
    width: 0;
}

.project_gallery_image_container {
    flex: 0 0 auto;
    display: flex;
    height: 180px;
    border-radius: 8px;
    overflow: hidden;
}

.project_gallery_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project_gallery_image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.light_box_overlay_wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #000e;
    overflow: hidden;
    z-index: 9999;
}

.light_box_overlay_content {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.light_box_overlay_close_container {
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
}

.light_box_overlay_counter {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 60px;
    text-align: right;
    z-index: 1001;
}

.light_box_overlay_counter_text {
    font-size: var(--font-size-4);
    color: white;
}

.light_box_overlay_zoom_bar {
    position: absolute;
    display: flex;
    left: calc(50% - 75px);
    top: 20px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    z-index: 1001;
    overflow: hidden;
}

.light_box_overlay_zoom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: background-color 0.35s ease, fill 0.35s ease;
}

.light_box_overlay_zoom:hover {
    background-color: var(--font-color-p);
    fill: white;
}

.light_box_overlay_zoom.middle {
    width: 52px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.light_box_overlay_close {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #6668;
    cursor: pointer;
    z-index: 1001;
}

.light_box_overlay_close::before {
    position: absolute;
    content: "";
    top: 23px;
    right: 10px;
    width: 30px;
    height: 4px;
    background-color: #eee;
    border-radius: 20px;
    transform: rotate(45deg);
    transition: background-color 0.35s ease;
    z-index: 1001;
}

.light_box_overlay_close::after {
    position: absolute;
    content: "";
    top: 23px;
    right: 10px;
    width: 30px;
    height: 4px;
    background-color: #eee;
    border-radius: 20px;
    transform: rotate(-45deg);
    transition: background-color 0.35s ease;
    z-index: 1001;
}

.light_box_overlay_close:hover.light_box_overlay_close::before, .light_box_overlay_close:hover.light_box_overlay_close::after {
    background-color: red;
}

.light_box_overlay_image_container {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.35s ease;
    z-index: 800;
}

.light_box_overlay_image_container.slide {
    animation: prev 0.35s ease
}

@keyframes prev {
    0% {
        transform: translateX(var(--start));
    }
    100% {
        transform: translateX(var(--stop));
    }
}

@keyframes next {
    0% {
        transform: translateX(var(--start));
    }
    100% {
        transform: translateX(var(--stop));
    }
}

.light_box_overlay_image {
    position: relative;
    max-height: 900px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 12px;
    transform: translateX(var(--translateX, 0px)) translateY(var(--translateY, 0px)) translateZ(0px) scale(var(--scale, 1));
    -webkit-user-drag: none;
    user-select: none;
    cursor: grab;
}

.light_box_overlay_image.scaling {
    transition: transform 0.35s ease;
}

.light_box_overlay_image.dragging {
    cursor: grabbing;
}

.light_box_overlay_left {
    position: absolute;
    left: 0px;
    top: calc(50% - 40px);
    height: 80px;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1001;
}

.light_box_overlay_left::before {
    position: absolute;
    content: "";
    left: 8px;
    top: 35px;
    width: 20px;
    height: 3px;
    background-color: #eee;
    border-radius: 20px;
    transition: background-color 0.35s ease;
    transform: rotate(-35deg);
}

.light_box_overlay_left::after {
    position: absolute;
    content: "";
    left: 8px;
    top: 45px;
    width: 20px;
    height: 3px;
    background-color: #eee;
    border-radius: 20px;
    transition: background-color 0.35s ease;
    transform: rotate(35deg);
}

.light_box_overlay_right {
    position: absolute;
    right: 0px;
    top: calc(50% - 40px);
    height: 80px;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
    z-index: 1001;
}

.light_box_overlay_right::before {
    position: absolute;
    content: "";
    right: 8px;
    top: 35px;
    width: 20px;
    height: 3px;
    background-color: #eee;
    border-radius: 20px;
    transition: background-color 0.35s ease;
    transform: rotate(35deg);
}

.light_box_overlay_right::after {
    position: absolute;
    content: "";
    right: 8px;
    top: 45px;
    width: 20px;
    height: 3px;
    background-color: #eee;
    border-radius: 20px;
    transition: background-color 0.35s ease;
    transform: rotate(-35deg);
}

.light_box_overlay_right:hover.light_box_overlay_right::before, .light_box_overlay_right:hover.light_box_overlay_right::after,
.light_box_overlay_left:hover.light_box_overlay_left::before, .light_box_overlay_left:hover.light_box_overlay_left::after {
    background-color: var(--font-color-p);
}

.light_box_overlay_description_container {
    position: absolute;
    bottom: 30px;
    width: 100%;
    padding-block: 10px;
    text-align: center;
    background-color: #000c;
    z-index: 1001;
}

.light_box_overlay_description {
    font-size: var(--font-size-7);
    color: #fff;
}

.project_info_content {
    position: relative;
    display: flex;
    margin-inline: auto;
    max-width: 1000px;
}

.project_info_content_left {
    display: block;
    padding-right: 30px;
    max-width: 70%;
    border-right: 1px solid var(--border-color-1);
}

.project_gallery_title, .project_info_overview_title, .project_info_features_title, .project_info_details_title {
    font-weight: bold;
    font-size: var(--font-size-6);
    color: var(--font-color-1);
}

.project_info_overview_content {
    padding-block: 20px;
}

.project_info_overview {
    white-space: pre-line;
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}

.project_info_features_wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 10px), 1fr));
    padding-block: 20px;
    gap: 10px;
}

.project_info_features_content {
    position: relative;
    padding-left: 16px;
}

.project_info_features {
    position: relative;
    font-size: var(--font-size-9);
    color: var(--font-color-3);
}

.project_info_features_content::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 0;
    top: calc(50% - 3px);
    background-color: var(--font-color-p);
    border-radius: 20px;
}

.project_info_content_right {
    display: block;
    max-width: 30%;
    width: 100%;
    padding-left: 30px;
}

.project_info_categorie_title_container, .project_info_technologies_container, .project_info_projekt_links_title_container {
    padding-top: 20px;
    padding-bottom: 10px;
}

.project_info_categorie_title, .project_info_technologies, .project_info_project_title_links {
    font-size: var(--font-size-9);
    color: var(--font-color-3);
}

.project_info_categorie {
    position: relative;
    padding-left: 16px;
    font-size: var(--font-size-8);
    color: var(--font-color-1);
}

.project_info_categorie::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 0;
    top: calc(50% - 3px);
    background-color: var(--font-color-p);
    border-radius: 20px;
}

.project_info_project_link_button_container {
    display: flex;
    gap: 5px;
}

.project_info_project_link_button {
    position: relative;
    text-align: center;
    width: 100%;
    border: 1px solid var(--border-color-1);
    border-radius: 8px;
    overflow: hidden;
}

.project_info_project_link_button:hover {
    background-color: var(--font-color-p);
}

.project_info_project_link_href {
    display: block;
    height: 100%;
    width: 100%;
    padding-block: 4px;
}

.project_info_project_link_href_text {
    font-size: var(--font-size-10);
    color: var(--font-color-1);
}

@media screen and (max-width: 966px) {
    .projects  {
        padding-inline: 5px;
    }

    .project_list_item {
        margin-inline: 10px;
    }
    
    .light_box_overlay_zoom_bar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    
    .project_info_header_content {
        padding: 15px;
    }


    .project_content_wrapper {
        padding: 15px;
    }

    .project_info_content {
        display: block;
        padding-block: 15px;
    }

    .project_info_content_left {
        max-width: 100%;
        padding-right: 0;
        border: none;
    }

    .project_info_content_right {
        max-width: 100%;
        padding-left: 0;
    }
    
    .project_info_features_wrapper {
        display: block;
    }
}