.container {
    /* max-width: 75em; */
    margin: 0 auto;
    padding: 0 1rem;
}

.section, section {
    max-width: 1380px;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-inline: auto;
}

.section_intro {
    text-align: center;
}

h1 {
    text-align: center;
    margin-block: 0.67em;
    font-size: 2em;
    font-weight: bold;
    color: var(--font-color-p);
}

h2 {
    margin-block: 0.83em;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--font-color-p);
}

h3 {
    margin-block: 1em;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 2rem;
    color: var(--font-color-p);
}

p {
    display: block;
    margin-block: 1em;
    font-size: 1.125rem;
    line-height: 1.8;
    color: var(--font-color-2);
    margin-bottom: 1rem;
}

.section_with_scrollbar {
    height: 850px;
    overflow-y: scroll;
}

.title {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.first_text {
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}


.header1 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.header2 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-3);
    color: var(--font-color-p);
}

.header3 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--font-color-p);
}

.description1 {
    font-size: var(--font-size-7);
    color: var(--font-color-2);
}

.description2 {
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}

.description3 {
    font-size: var(--font-size-8);
    color: var(--font-color-4);
}

.profil_image {
    
}

.gradient_text {
    background: linear-gradient(to right, var(--font-color-p), var(--font-color-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}