.container {
    max-width: 75em;
    margin: 0 auto;
    padding: 0 2rem;
}

.section {
    max-width: 1380px;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-inline: auto;
}

.section_with_scrollbar {
    height: 850px;
    overflow-y: scroll;
}

.title {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.first_heading_container {
    text-align: center;
    margin: 14px 0 10px 0;
}

.first_heading {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-3);
    color: var(--font-color-p);
}

.second_heading {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--font-color-p);
}

.third_heading {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-6);
    color: var(--font-color-1);
}

.section_description_container {
    max-width: 1150px;
    text-align: center;
    margin-inline: auto;
    margin-top: 20px;
}

.section_description {
    font-size: var(--font-size-7);
    color: var(--font-color-2);
}

.first_text {
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}


.header1 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.header2 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-3);
    color: var(--font-color-p);
}

.header3 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--font-color-p);
}

.description1 {
    font-size: var(--font-size-7);
    color: var(--font-color-2);
}

.description2 {
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}

.description3 {
    font-size: var(--font-size-8);
    color: var(--font-color-4);
}

.profil_image {
    
}

.gradient_text {
    background: linear-gradient(to right, var(--font-color-p), var(--font-color-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}