* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fourth-font-size);
    font-family: var(--primary-font-family);
    transition: border-color 0.35s ease, box-shadow 0.35s ease, background-color 0.35s ease, color 0.35s ease, fill 0.35s ease;
    transition: filter 0.35s ease, opacity 0.35 ease;
}

html, body {
    display: block;
    height: 100vh;
    height: 100dvh;
    overflow-y: auto;
    scrollbar-color: var(--background-color-5) var(--background-color-2);
    background-color: var(--background-color-1);
}

:root[data-theme="dark"] html, :root[data-theme="dark"] body {
    scrollbar-color: var(--background-color-5) var(--background-color-3);
    background-color: var(--background-color-2);
}

.container {
    /* max-width: 75em; */
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    max-width: 1380px;
    padding-top: 100px;
    padding-bottom: 80px;
    margin-inline: auto;
}

.section_intro {
    text-align: center;
}

h1 {
    text-align: center;
    margin-block: 0.67em;
    font-size: 2em;
    font-weight: bold;
    color: var(--preferred-color-theme);
}

h2 {
    margin-block: 0.83em;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--preferred-color-theme);
}

h3 {
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--preferred-color-theme);
}

h4 {
    text-align: left;
    font-weight: bold;
    font-size: 28px;
    color: var(--font-color-1);
}

h5 {
    text-align: left;
    font-weight: bold;
    font-size: 22px;
    color: var(--font-color-1);
}

h6 {
    font-size: 16px;
    color: var(--font-color-3);
}

p {
    display: block;
    margin-block: 1em;
    font-size: 1.125rem;
    line-height: 1.8;
    color: var(--font-color-2);
    margin-bottom: 1rem;
    white-space: pre-line;
    line-height: 1.5;
}

.section_with_scrollbar {
    height: 850px;
    overflow-y: scroll;
}

.gradient_text {
    background: linear-gradient(to right, var(--preferred-color-theme), var(--font-color-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: rainbow 2s linear infinite;
}