.webpage {
    display: block;
}

.webpage_wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}

.webpage_background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
    filter: blur(75px);
    z-index: 0;
}

main {
    justify-content: none;
    align-items: center;
    flex: 1;
    min-height: calc(100% - 60px);
}

.background_image {
    position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
    object-position: center;
    transition: opacity 0.5s ease;
    filter: blur(75px);
    z-index: 0;
}


:root[data-theme="light"] .desktop > img {
    opacity: 1;
    filter: blur(40px);
}

.desktop {
    position: absolute;
    display: block;
    height: calc(100vh - 60px);
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.desktop_task {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: repeat(10s, 1fr); */
}

.task {
    margin: 2px;
    position: relative;
    padding: 2px 5px;
    width: 140px;
    border-radius: 10px;
    cursor: pointer;
}

.task:hover {
    background-color: var(--background-color-t4);
}

.task > div {
    display: flex;
    justify-content: center;
}

.task > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}

.task > div > span {
    text-align: center;
    line-height: 99%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--font-color-2);
}

.task_bar {
    z-index: 10000;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--background-color-t7);
    border-top: 1px solid var(--border-color-2);
    backdrop-filter: blur(20px);
}

.task_button {
    position: absolute;
    left: 0;
}

.task_right{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.task_time {
    margin: 0 5px;
}

.task_time > div {
    position: relative;
    display: flex;
    justify-content: right;
}

.task_time > div {
    margin: -5px 0;
}

.start_button {
    user-select: none;
    cursor: pointer;
}

.start_button > div {
    width: 60px;
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.start_button:hover > div {
    background-color: var(--background-color-t4);
}

.start_button > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}

.task_action {
    min-height: 60px;
    min-width: 60px;
    border-radius: 12px;
}

.task_action:hover {
    background-color: var(--background-color-t4);
}

.time_and_date {
    user-select: none;
    cursor: pointer;
}

.time_and_date > div {
    height: 60px;
    padding: 0 5px;
    line-height: 120%;
    align-content: center;
    justify-items: right;
    text-align: right;
    border-radius: 12px;
}

.time_and_date:hover > div {
    background-color: var(--background-color-t4);
}

.time_and_date > div > div > span {
    color: var(--font-color-2);
}