* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fourth-font-size);
    font-family: var(--primary-font-family);
    transition: background-color 0.35s ease, color 0.35s ease;
    transition: filter 0.35s ease, opacity 0.35 ease;
}

html, body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    height: 100dvh;
    overflow-y: auto;
    background-color: var(--background-color-1);
}

:root[data-theme="dark"] html, :root[data-theme="dark"] body {
    background-color: var(--background-color-2);
}

body > div {
    height: 100%;
}

.loader_wraper {
    display: flex;
    align-items:normal;
}

.loader_wraper_center {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items:normal;
}

.loader_container {
    position: relative;
    display: block;
    text-align: center;
}

.loader {
    border: 5px solid #fff;
    border-bottom-color: var(--font-color-p);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader_text {
    color: var(--font-color-1);
}

.webpage {
    display: block;
}

.webpage_wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}

.webpage_background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center;
    opacity: 0.5;
    filter: blur(75px);
    z-index: 0;
}

main {
    justify-content: none;
    align-items: center;
    flex: 1;
    min-height: calc(100% - 60px);
}

.background_image {
    position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    opacity: 0.5;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center; /* zentriert den sichtbaren Teil */
    transition: opacity 0.5s ease;
    filter: blur(75px);
    z-index: 0;
}


:root[data-theme="light"] .desktop > img {
    opacity: 1;
    filter: blur(40px);
}

.desktop > div {
    position: absolute;
    display: block;
    height: calc(100vh - 60px);
    width: 100%;
    padding: 5px;
    /* backdrop-filter: blur(10px); */
}

.desktop_task {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    /* gird
    grid-template-columns: repeat(10s, 1fr); */
}

.task {
    margin: 2px;
    position: relative;
    padding: 2px 5px;
    width: 140px;
    border-radius: 10px;
    cursor: pointer;
}

.task:hover {
    background-color: var(--background-color-t4);
}

.task > div {
    display: flex;
    justify-content: center;
}

.task > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}

.task > div > span {
    text-align: center;
    line-height: 99%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--font-color-2);
}

.task_bar {
    z-index: 10000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--background-color-t7);
    border-top: 1px solid var(--border-color-2);
    backdrop-filter: blur(20px);
}

.task_button {
    position: absolute;
    left: 0;
}

.task_right{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.task_time {
    margin: 0 5px;
}

.task_time > div {
    position: relative;
    display: flex;
    justify-content: right;
}

.task_time > div {
    margin: -5px 0;
}

.start_button {
    user-select: none;
    cursor: pointer;
}

.start_button > div {
    width: 60px;
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.start_button:hover > div {
    background-color: var(--background-color-t4);
}

.start_button > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}

.language {
    height: 60px;
    user-select: none;
    cursor: pointer;
}

.language > div {
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.language:hover > div {
    background-color: var(--background-color-t4);
}

.language > div > div > span {
    color: var(--font-color-2);
    display: block;
    animation-name: show;
    animation-duration: 0.25s;
}

.language > div > div > span.hidden_language {
    display: none;
}

.desktop_website {
    user-select: none;
    cursor: pointer;
}

.desktop_website > div {
    height: 60px;
    width: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.desktop_website > div:hover {
    background-color: var(--background-color-t4);
}

.desktop_website > div > img {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
    animation-name: show;
    animation-duration: 0.35s;
}

.dark_mode {
    user-select: none;
    cursor: pointer;
}

.dark_mode > div {
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.dark_mode:hover > div {
    background-color: var(--background-color-t4);
}

.dark_mode > div > div > img {
    display: block;
    animation-name: show;
    animation-duration: 0.35s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dark_mode img.hidden_image {
    display: none;
}

.time_and_date {
    user-select: none;
    cursor: pointer;
}

.time_and_date > div {
    height: 60px;
    padding: 0 5px;
    line-height: 120%;
    align-content: center;
    justify-items: right;
    text-align: right;
    border-radius: 12px;
}

.time_and_date:hover > div {
    background-color: var(--background-color-t4);
}

.time_and_date > div > div > span {
    color: var(--font-color-2);
}

.custom_scroll_bar {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-inline: auto;
    gap: 6px;
}

.custom_scroll_box {
    height: 10px;
    width: 10px;
    background-color: var(--background-color-5);
    transition: width 0.15s linear, background-color 0.35s ease;
    border-radius: 20px;
    cursor: pointer;
}

.custom_scroll_box.custom_scroll_box_selected {
    width: 25px;
    background-color: var(--font-color-p);
}

.custom_scroll_box:hover {
    background-color: var(--font-color-p);
}