/* Themesettings */
:root {
    --primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    --font-size-1: 72px;
    --font-size-2: 56px;
    --font-size-3: 48px;
    --font-size-4: 32px;
    --font-size-5: 26px;
    --font-size-6: 22px;
    --font-size-7: 20px;
    --font-size-8: 18px;
    --font-size-9: 16px;
    --font-size-10: 14px;
    --font-size-11: 12px;

    --font-color-p: #2196F3;
    
    --font-color-1: #000;
    --font-color-2: #222;
    --font-color-3: #444;
    --font-color-4: #666;
    --font-color-5: #888;
    --font-color-6: #aaa;
    --font-color-7: #ddd;

    --background-color-1: #fff;
    --background-color-2: #eee;
    --background-color-3: #ddd;
    --background-color-4: #ccc;
    --background-color-5: #aaa;
    --background-color-6: #222;
    --background-color-7: #000;

    --background-color-t1: #000a;
    --background-color-t2: #252525aa;
    --background-color-t3: #444a;
    --background-color-t4: #bbba;
    --background-color-t5: #ccca;
    --background-color-t6: #dadadaaa;
    --background-color-t7: #fffa;

    --border-color-1: #ccc;
    --border-color-2: #999;
    --border-color-3: #666;
    --border-color-4: #333;
}

[data-theme="dark"] {

    --font-color-p: #2196F3;

    --font-color-1: #fff;
    --font-color-2: #ddd;
    --font-color-3: #bbb;
    --font-color-4: #888;
    --font-color-5: #555;
    --font-color-6: #333;
    --font-color-7: #222;

    --background-color-1: #000;
    --background-color-2: #222;
    --background-color-3: #333;
    --background-color-4: #444;
    --background-color-5: #666;
    --background-color-6: #ddd;
    --background-color-7: #fff;

    --background-color-t1: #fffa;
    --background-color-t2: #dadadaaa;
    --background-color-t3: #888a;
    --background-color-t4: #444a;
    --background-color-t5: #383838aa;
    --background-color-t6: #252525aa;
    --background-color-t7: #111a;

    --border-color-1: #333;
    --border-color-2: #666;
    --border-color-3: #999;
    --border-color-4: #ccc;
}