.header1 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--font-color-p);
}

.header2 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-3);
    color: var(--font-color-p);
}

.header3 {
    line-height: 99%;
    font-weight: bold;
    font-size: var(--font-size-4);
    color: var(--font-color-p);
}

.description1 {
    font-size: var(--font-size-7);
    color: var(--font-color-2);
}

.description2 {
    font-size: var(--font-size-8);
    color: var(--font-color-3);
}

.profil_image {
    
}

.gradient_text {
    background: linear-gradient(to right, var(--font-color-p), var(--font-color-1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}