* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fourth-font-size);
    font-family: var(--primary-font-family);
    transition: background-color 0.35s ease, color 0.35s ease;
    transition: filter 0.35s ease, opacity 0.35 ease;
}

html, body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    background-color: var(--background-color-2);
}

body > div {
    height: 100%;
}

.loader_wraper {
    display: flex;
    align-items:normal;
}

.loader_wraper_center {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items:normal;
}

.loader_container {
    position: relative;
    display: block;
    text-align: center;
}

.loader {
    border: 5px solid #fff;
    border-bottom-color: var(--font-color-p);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader_text {
    color: var(--font-color-1);
}

.webpage {
    display: block;
}

.webpage_container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    z-index: 1;
}

.webpage_container > div {
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}

.webpage_container > div:last-child {
    margin-bottom: 0;
}

.webpage_background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center;
    filter: blur(75px);
    z-index: 0;
}

.webpage_header {
    position: sticky;
    top: 0;
    display: flex;
    max-width: 1380px;
    padding: 5px 20px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--boarder-color-2);
    border-top: 0;
    border-radius: 0 0 40px 40px;
    backdrop-filter: blur(10px);;
    background-color: var(--background-color-t7);
}

.webpage_header_name_container {
    display: flex;
    align-content: center;
    gap: 10px;
}

.webpage_header_name_firstname {
    font-weight: bold;
    font-size: var(--font-size-5);
    color: var(--font-color-p);
}

.webpage_header_name_lastname, .webpage_header_name_lastname_short {
    font-weight: bold;
    font-size: var(--font-size-5);
    color: var(--font-color-1);
}

.webpage_header_name_lastname_short {
    display: none;
}

.webpage_header_menu_ulist {
    position: relative;
    display: flex;
    background-color: var(--background-color-t5);
    border-radius: 30px;
}

.webpage_header_menu_ulist_item {
    padding: 10px 20px;
    cursor: pointer;
}

.webpage_header_menu_ulist_item:hover .webpage_header_menu_ulist_a {
    color: var(--font-color-1);
}

.webpage_header_menu_ulist_a {
    color: var(--font-color-3);
    font-size: var(--font-size-8);
}

.webpage_header_buttons {
    display: flex;
    gap: 10px;
}

.webpage_footer {
    position: relative;
    display: flex;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    align-items: center;
    margin-inline: auto;
    border-top: 1px solid var(--boarder-color-2);
    text-align: center;
}

.webpage_footer_left {
    position: relative;
    display: block;
    margin-inline: auto;
}

.webpage_footer_name {
    font-size: var(--font-size-4);
    color: var(--font-color-2);
}

.webpage_footer_copyright {
    font-size: var(--font-size-9);
    color: var(--font-color-4);
}

.webpage_footer_right {
    display: block;
    width: 300px;
    margin-inline: auto;
}

.webpage_footer_title_container {
    margin-bottom: 10px;
}

.webpage_footer_title {
    color: var(--font-color-2);
    font-size: var(--font-size-7);
}

.webpage_footer_links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.webpage_footer_link_icon {
    padding: 10px;
    border: 1px solid var(--background-color-5);
    border-radius: 50px;
}

.webpage_footer_link_icon:hover {
    padding:9px;
    border: 1px solid var(--font-color-p);;
}

.webpage_footer_link_icon > svg {
    height: 25px;
    width: 25px;
}

.webpage_footer_link_icon:hover > svg {
    height: 27px;
    width: 27px;
}

.webpage_footer_link_icon > svg > path {
    fill: var(--font-color-4);
}

.webpage_footer_link_icon:hover > svg > path {
    fill: var(--font-color-3);
}

@media screen and (max-width: 966px) {
    .webpage_header_menu_ulist {
        display: none;
    }

    .webpage_footer {
        display: block;
        align-content: center;
    }
    .webpage_footer_title_container {
        margin-top: 45px;
    }
}

@media screen and (max-width: 768px) {
    .webpage_header_name_lastname {
        display: none;;
    }

    .webpage_header_name_lastname_short {
        display: contents;
    }
}

main {
    justify-content: none;
    align-items: center;
    flex: 1;
    text-align: center;
    min-height: calc(100% - 60px);
}

.background_image {
    position: absolute;
    height: calc(100% - 60px);
    width: 100%;
    opacity: 0.5;
    object-fit: cover; /* sorgt für abgeschnittenes, zentriertes Bild */
    object-position: center; /* zentriert den sichtbaren Teil */
    transition: opacity 0.5s ease;
    filter: blur(75px);
    z-index: 0;
}


:root[data-theme="light"] .desktop > img {
    opacity: 1;
    filter: blur(40px);
}

.desktop > div {
    position: absolute;
    display: block;
    height: calc(100vh - 60px);
    width: 100%;
    padding: 5px;
    /* backdrop-filter: blur(10px); */
}

.desktop_task {
    position: relative;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    /* gird
    grid-template-columns: repeat(10s, 1fr); */
}

.task {
    margin: 2px;
    position: relative;
    padding: 2px 5px;
    width: 140px;
    border-radius: 10px;
}

.task:hover {
    background-color: var(--background-color-t4);
}

.task > div {
    display: flex;
    justify-content: center;
}

.task > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}

.task > div > span {
    line-height: 99%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--font-color-2);
}

footer {
    z-index: 10000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--background-color-t7);
    border-top: 1px solid var(--boarder-color-2);
    backdrop-filter: blur(20px);
}

.task_button {
    position: absolute;
    left: 0;
}

.task_right{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.task_time {
    margin: 0 5px;
}

.task_time > div {
    position: relative;
    display: flex;
    justify-content: right;
}

.task_time > div {
    margin: -5px 0;
}

.start_button {
    user-select: none;
    cursor: pointer;
}

.start_button > div {
    width: 60px;
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.start_button:hover > div {
    background-color: var(--background-color-t4);
}

.start_button > div > img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    object-position: center;
}

.language {
    height: 60px;
    user-select: none;
    cursor: pointer;
}

.language > div {
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.language:hover > div {
    background-color: var(--background-color-t4);
}

.language > div > div > span {
    color: var(--font-color-2);
    display: block;
    animation-name: show;
    animation-duration: 0.25s;
}

.language > div > div > span.hidden_language {
    display: none;
}

.desktop_website {
    user-select: none;
    cursor: pointer;
}

.desktop_website > div {
    height: 60px;
    width: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.desktop_website > div:hover {
    background-color: var(--background-color-t4);
}

.desktop_website > div > img {
    display: block;
    height: 40px;
    width: 40px;
    margin: auto;
    animation-name: show;
    animation-duration: 0.35s;
}

.dark_mode {
    user-select: none;
    cursor: pointer;
}

.dark_mode > div {
    height: 60px;
    align-content: center;
    padding: 0 5px;
    border-radius: 12px;
}

.dark_mode:hover > div {
    background-color: var(--background-color-t4);
}

.dark_mode > div > div > img {
    display: block;
    animation-name: show;
    animation-duration: 0.35s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dark_mode img.hidden_image {
    display: none;
}

.time_and_date {
    user-select: none;
    cursor: pointer;
}

.time_and_date > div {
    height: 60px;
    padding: 0 5px;
    line-height: 120%;
    align-content: center;
    justify-items: right;
    text-align: right;
    border-radius: 12px;
}

.time_and_date:hover > div {
    background-color: var(--background-color-t4);
}

.time_and_date > div > div > span {
    color: var(--font-color-2);
}