* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--fourth-font-size);
    font-family: var(--primary-font-family);
    transition: background-color 0.35s ease;
}

html, body {
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    overflow: hidden;
    background-color: var(--primary-background-color);
}

body > div {
    height: 100%;
}

h1 {
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    min-height: calc(100% - 60px);
}

main > div > p {
    font-size: 30px;
}

footer {
    z-index: 10000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--footer-background-color);
    border-top: 2px solid var(--menu-border-color);
    backdrop-filter: blur(20px);
}

footer > div > p {
    font-size: 30px;
}

.task_button {
    position: absolute;
    left: 0;
}

.task_right{
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.task_time {
    margin: 0 5px;
}

.task_time > div {
    position: relative;
    display: flex;
    justify-content: right;
}

.task_time > div {
    margin: -5px 0;
}